# Environment files
.env
.env.*

# Node dependencies
node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Dataset folder
datasets/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# IDE files
.vscode/
.idea/

# Vite cache
node_modules/.vite/